@media(max-width: 820px) {
    .pagina{
        width: 100%;
        padding: 10px;
    }

    .infos h1{
        width: 100%;
    }

    .pagina .parte-de-cima{
        justify-content: center;
    }

    .review1, .review3{
        transform: translate(0, 0);
    }

    .pagina .comentarios{
        justify-content: center;
    }

    .comentarios .container-individual{
        margin: 5px;
        height: fit-content;
    }
}


@media(max-width: 480px) {
    .pagina{
        background: url(../images/bg-pattern-top-mobile.svg) no-repeat center top, url(../images/bg-pattern-bottom-mobile.svg) none center bottom;
        gap: 50px;
    }

    .pagina .parte-de-cima{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .parte-de-cima .infos{
        width: 100%;
    }

    .parte-de-cima .classificacao{
        width: 100%;
    }

    .classificacao .container{
        width: 100%;
    }

    .infos h1{
        width: 100%;
    }

    .pagina .comentarios{
        flex-direction: column;
    }
}