.pagina{
    background: url(../images/bg-pattern-top-desktop.svg) no-repeat, url(../images/bg-pattern-bottom-desktop.svg) no-repeat right bottom; 

    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: grid;
}

.pagina .parte-de-cima{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parte-de-cima .infos{
    height: 100%;
    width: 35%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.infos h1{
    color: #502050;
    font-size: 50px;
    width: 70%;
}

.infos p{
    color: #502050;
    font-size: 20px;
    line-height: 25px;
}

.parte-de-cima .classificacao{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.classificacao .container{
    background-color: hsl(300, 24%, 96%);
    font-weight: 700;
    color: #502050;
    border-radius: 8px;

    margin: 8px;
    padding: 10px 0px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review1{
    transform: translateX(-15%);
}

.review3{
    transform: translateX(15%);
}

.pagina .comentarios{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comentarios .container-individual{
    background-color: #502050;
    border-radius: 8px;
    margin: 20px;
    padding: 30px;
    height: 80%;
}

.comentarios .pessoa1{
    transform: translateY(-7%);
}

.comentarios .pessoa3{
    transform: translateY(7%);
}

.container-individual .apresentacao{
    display: flex;
    align-items: center;
}

.container-individual img{
    border-radius: 50%;
    margin: 20px;
}

.apresentacao .nome{
    color: #fff;
    font-weight: 600;
}

.apresentacao .status{
    color: #ee68a4;
}

.apresentacao .infos-pessoais{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    line-height: 20px;
}

.container-individual p{
    color: #fff;
    line-height: 20px;
    height: 50%;
}